body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section {
    background-image : url("Images/telepsychology-therapy-zoom.jpg");
    height: 80vh;
    display: flex;
    text-align: center;
}

.float-container1 {
    position: relative;
    height: 70%;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    border: 3px solid transparent;
    background: transparent;
}

.float-child1 {
    position: relative;
    width: 750px;
    height: 500px;
    padding: 50px;
    background: transparent;
    float: left;
}

.float-child1 h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 45px;
    text-transform: uppercase;
    color: #044463;
}

.float-child1 p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #044463;
}

.float-child2 {
    position: relative;
    width: 500px;
    height: 500px;
    padding-top: 0;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    float: right;
}

.float-child2 h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #044463;
}

.float-child2 p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
.divider{
    width:35px;
    height:auto;
    display:inline-block;
}